*.xcuserstate
xcuserdata/
Run-for-Water-iOS/Run-for-Water-iOS/FirebaseUI-iOS/
Run-for-Water-iOS/Run-for-Water-iOS.xcodeproj/xcuserdata/kieranhalliday.xcuserdatad/xcschemes/xcschememanagement.plist

Run-for-Water-iOS/Pods/
*.lock
*.xcscheme
*.xcconfig
*.xcconfig
