<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>989704819582-ngvdfccpsi92d94hc59tk7hocgd3h1ea.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.989704819582-ngvdfccpsi92d94hc59tk7hocgd3h1ea</string>
	<key>API_KEY</key>
	<string>AIzaSyA_ClT62iykcQoslvse-iXnmlA1QuuR72s</string>
	<key>GCM_SENDER_ID</key>
	<string>989704819582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Personal.Run-for-Water-iOS</string>
	<key>PROJECT_ID</key>
	<string>cpen391</string>
	<key>STORAGE_BUCKET</key>
	<string>cpen391.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:989704819582:ios:1c3fd113f4046c80</string>
	<key>DATABASE_URL</key>
	<string>https://cpen391.firebaseio.com</string>
</dict>
</plist>